<html>
{% load static %}

<head>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
     <!--Navbar-->
    
     {% include "navBar2.html" %}
   
     <!--Fin Navbar-->
     <br>
     <br>
     <p align="right">
        <a href="addD/" class="btn btn-primary">Ajouter</a>
        </p>
    <div class="container">
        <div class="card mb-6">
            <div class="card-body">
                <h3 style="color:brown;"><i><center>Liste des Diplomes et Formations</center></i></h3>
                <center><table border="1">
                    <thead>
                        <tr>
                            <th style="color: brown;"><center>ID</center></th>
                            <th><center>Nom</center></th>
                            <th><center>Lieu</center></th>
                            <th><center>Date</center></th>
                            <th><center>Genre de Formation</center></th>
                            <th><center>Supprimer</center></th>
                            <th><center>Modifier</center></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in diplome %}
                        {% for g in gen %}
                        {% if g.id == d.gen_id %}
                        <tr>
                            <td style="color: brown;">{{ d.id }}</td>
                            <td>{{ d.nomDiplome }}</td>
                            <td>{{ d.lieuDiplome }}</td>
                            <td>{{ d.dateDiplome }}</td>
                            <td>{{ g.nomGenre }}</td>
                            <td><a href="deleteD/{{ d.id }}" onclick="return confirm('vous ete sur  ?')"> supprimer </a></td>
                            <td><a href="updateD/{{ d.id }}">modifier</a></td>
                        
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                        
                            
                        </tr>
                    </tbody>
                </table></center>
</body>

</html>