<html>
    {% load static %}

<head>
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <!--Navbar-->
    
    {% include "navBar.html" %}
   <br>
   <br>
    <!--Fin Navbar-->
    <div class="container">
        <div class="card mb-6">
            <div class="card-body">
                <h3 style="color: brown;"><i><center>Les Stages et les Expériences</center></i></h3>
                <center> <table border="1">
                    <thead>
                        <tr style="color: brown;">
                            <th>Numero</th>
                            <th>Nature</th>
                            <th>Entreprise</th>
                            <th>Durée</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in stage %}
                        <tr>
                            <td style="color: brown;">{{ s.id }}</td>
                            <td>{{ s.natureStage }}</td>
                            <td>{{ s.lieuStage }}</td>
                            <td>{{ s.dureeStage }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </center>
</body>
</html>